@model EnglishTrainer.Web.Models.VerbIndexViewModel

@{
    ViewData["Title"] = "MainTable";
}

<h1>MainPage</h1>

<p>
    <a asp-action="MainPage" asp-controller="Verb">Back to main page</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Infinitive
            </th>
            <th>
                PastSimple
            </th>
            <th>
                PastParticiple
            </th>
            <th>
                TranslateRu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VerbsList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Infinitive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PastSimple)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PastParticiple)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TranslateRu)
            </td>
        </tr>
}
    <form id="sort-filter-form" role="form">
        <div class="col-sm-2">
            <label>Page</label>
            <div>
                <input asp-for="SortFilterPageData.PageNum" name="PageNum"
                       class="form-control page-control-width page-num-input"
                       onchange="VerbsList.sendForm(this)">
                <span class="num-pages-text">of @Model.SortFilterPageData.NumPages</span>
            </div>
        </div>

        <div class="col-sm-1">
            <label>Page&nbsp;Size</label>
            <select asp-for="SortFilterPageData.PageSize" name="PageSize"
                    asp-items="Model.SortFilterPageData.PageSizes.Select(x => new SelectListItem {Text = x.ToString(), Value = x.ToString()})"
                    class="form-control page-control-width"
                    onchange="VerbsList.sendForm(this)"></select>
        </div>

        <input id="PrevCheckState" name="PrevCheckState" type="hidden" value=@Model.SortFilterPageData.PrevCheckState>
    </form>
    </tbody>
</table>
