@model IEnumerable<EnglishTrainer.ApplicationCore.Models.VerbViewModel>

@{
    ViewData["Title"] = "MainTable";
}

<div class="back-to-main-page-button">
    <a asp-action="Index" asp-controller="Verb" style="border-radius:0" class="btn btn-info">На главную страницу</a>
</div>
<table class="table table-bordered table-hover">

        <div class="container" style="width:1000px;">
            <div class="row" >
                <div class="col">
                    <h5>Infinitive</h5>
                </div>
                <div class="col">
                    <h5>PastSimple</h5>
                </div>
                <div class="col">
                    <h5>PastParticiple</h5>
                </div>  
                <div class="col">
                    <h5>ShortTranslate</h5>
                </div>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="container" style="width:1000px;">
                <a asp-action="Details" asp-controller="Verb" asp-route-id="@item.Id" div class="row my-row border align-center text-decoration-none">
                    <div class="col ">
                        <p>@Html.DisplayFor(modelItem => item.Infinitive)</p>
                    </div>
                    <div class="col">
                        <p>@Html.DisplayFor(modelItem => item.PastSimple)</p>
                    </div>
                    <div class="col">
                        <p>@Html.DisplayFor(modelItem => item.PastParticiple)</p>
                    </div>
                    <div class="col">
                        <p>@Html.DisplayFor(modelItem => item.ShortTranslate)</p>
                    </div>
                </a>
            </div>
        }

</table>

