@model EnglishTrainer.ApplicationCore.Models.WordViewModel

@{
    ViewData["Title"] = "Details";
}


<input id="hiddenModelId" type="hidden" value="@Model.Id" />
<div class="my-details-form">


    <h4 class="text-capitalize">@Html.DisplayFor(model => model.Name)</h4>
    <p style="font-style:italic">@Html.DisplayFor(model => model.TranslateVariants)</p>

    <div >
        <p style="font-weight:700">@Html.DisplayFor(model => model.Description)</p>
    </div>

    <h4>Примеры:</h4>
    @foreach (var item in Model.Examples)
    {
        <div>
            <p>@item.EnglishExample - @item.RussianExample</p>
            <a type="button" class="btn btn-warning" asp-action="Edit" asp-controller="Example" asp-route-id="@item.Id">Изменить пример</a>
        </div> 
    }
@*    <a type="button" class="btn btn-info" asp-action="Create" asp-route-id="@Model.Id" asp-controller="Example">Добавить новый пример</a>
    *@    

    <button id="createExample" class="btn btn-primary">Новый пример</button>

@*    <a asp-action="Create" asp-controller="Example" asp-route-id="@Model.Id" target="partialResultNewExample" class="btn btn-primary">Новый пример</a>
*@
    <div class="container">
        <div class="partialResultNewExample">

        </div>
    </div>
    
</div>

<a type="button" class="btn btn-info" asp-action="MainTable" asp-controller="Word">К словарю</a>
<a type="button" class="btn btn-primary"  asp-action="Edit" asp-route-id="@Model.Id" asp-controller="Word">Изменить описание</a>

@section Scripts {
    <script>
        $('#createExample').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Example/Create",
                data: @Model.Id.ToString(),
                type: "GET",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    //var message = data.Message;
                    //alert(data);
                    $('.partialResultNewExample').html(data);
                } //<-- added close for anonymous function
            }); //<--added close/semicolon for ajax function
        });
    </script>
}