@model IEnumerable<EnglishTrainer.ApplicationCore.Models.WordViewModel>

@{
    ViewData["Title"] = "MainTable";
}

<h1>Словарь</h1>

<div style="margin-bottom: 15px;">
    <h6>Навигация</h6>
        <a type="button" class="btn btn-info"  asp-action="Index" asp-controller="Home">На главную страницу</a>
        <a type="button" class="btn btn-primary" asp-action="Create" asp-controller="Word">Добавить новое слово </a>
</div>

<div class="container flex-column justify-content-center" >
    @foreach(var item in Model)
    {
        <div class="my-row" style="display:flex; justify-content:space-between; width:800px;">
            <a asp-action="Details" asp-controller="Word" asp-route-id="@item.Id" div class="text-decoration-none my-row_word">
                @item.Name - @item.TranslateVariants
            </a>
            <a data-bs-toggle="modal" class="btn btn-danger" data-bs-target="#exampleModal">Удалить</a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#3b375e; color:#fff;">
                        <h5 class="modal-title" id="exampleModalLabel">Удалить</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                    </div>
                    <div class="modal-body" style="background-color:#3b375e; color:#fff;">
                        Вы действительно хотите удалить слово <span style="font-weight:700; font-size:18px;">@item.Name</span>?
                    </div>
                    <div class="modal-footer" style="background-color:#3b375e; color:#fff;">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                        <a asp-action="Delete" asp-controller="Word" asp-route-id="@item.Id" class="btn btn-primary">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

